.progress {
  display: flex;
  max-width: 1000px;
  margin: 40px auto;
  justify-content: center;
}

/* STYLES FOR PROGRESSBARS */

.progress-radial,
.progress-radial * {
  box-sizing: content-box;
}

.progress-radial {
  margin-right: 4%;
  position: relative;
  width: 20%;
  height: 20%;
  border-radius: 50%;
}
.progress-radial:first-child {
  margin-left: 4%;
}
/* -------------------------------------
   * Optional centered circle w/text
   * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 80%;
  background-color: #f0f0f0;
  border-radius: 50%;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-radial .overlay p {
  position: absolute;
  line-height: 40px;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -20px;
}
