body {
  margin: 0;
  padding: 0;
  font-size: 35px;
  color: #757575;
}
header {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.tips {
  position: absolute;
  left: 0;
  top: 12px;
  font-size: 0.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(160, 191, 124);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.container {
  width: 850px;
  margin: 50px auto;
  position: relative;
}
.line-box {
  margin-bottom: 30px;
}
.letter {
  border: 1px solid snow;
  border-radius: 5px;
}
.on {
  color: #0e630e;
  background: #e7fbd3;
}
.off {
  color: darkred;
  background: pink;
}
.start {
  margin-top: -5px;
  padding: 10px;
  font-size: 0.7em;
  font-family: fantasy;
  color: snow;
  background-color: rgba(160, 191, 124);
  border-radius: 5px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3), 0 0 15px #969b9599 inset;
}
.icon {
  content: url(../img/watermelon.svg);
  vertical-align: middle;
}
.process {
  display: flex;
  width: 95%;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.process-filled {
  border-radius: 5px;
  flex-basis: 0;
  background-color: rgba(89, 148, 76, 0.95);
  transition: flex-basis 0.2s cubic-bezier(1, 0.68, 0, 1.54);
}
.info {
  position: absolute;
  right: 50px;
  bottom: -90px;
  width: 90px;
  height: 70px;
  visibility: hidden;
  transition: visibility 1s;
}
.info > div {
  color: #888;
}
.title {
  font-size: 0.5em;
  font-weight: 300;
}
header > span, i{
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
#update {
  display: none;
  margin-top: -8px;
  width: 42px;
  height: 40px;
  transition: color 0.2s;
}
#update:hover{
    color: rgba(89, 148, 76, 0.95);
}
.data {
  font-family: "Droid Sans Mono", courier;
}
.wpm ,.speed-box>span{
  font-family: "Droid Sans Mono", courier;
  font-size: 0.3em;
  vertical-align: super;
}
.speed {
  right: 150px;
}
#reload {
  content: url(./img/reload.svg);
  vertical-align: middle;
}
#reload:hover{
    content: '';
}
.word{
    position: relative;
}
.speed-box{
    position: absolute;
    left: 0;
    transform: translateY(-60px);
    font-size: 0.3em;
}
.message-box{
    position: absolute;
    right: 0;
    transform: translateX(-100%);
    font-size: 0.3em;
    color: seagreen;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}