@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1604465826000'); /* IE9 */
  src: url('iconfont.eot?t=1604465826000#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABpAAAAKbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBGIEsATYCJAMICwYABCAFhG0HMRvTBciemjwtbJrINhqDKXpPKNAJ8fD/y9x9s383k1ZVKVWWVoSMioowxQa6Q8gswoNQHI5HR2HE+PDXfFcCDXS3AooSOdra0irBN5pFkWz2gzaMwqTt/5qmDM9HqJLqqyoPSR7mH3AuIzc7JzYntyaIQyZnxOG0CRTIfJByGWPQWJMmdQF18dZA98A2WZkk3jB2gUs4T6BOL5uwc7x8hLrEmhaIB88xoJ7zSBKL50KlZm2C+EqRZ9/ZDvAl/H78RyDqIFMugVV0cX+wYf0u20nSV9GG6xN4IaDNZZQwDRJxUxs5UxKMJqnjLBsESfK/8y+wWezVINhfZ+U2gG4ovCeRK77VvAzkB2fB4agnEbO15mv15edY/R97JuSR0ifOXybLD2/Ij+z0zM8vZaXA9sfzbOV729/xYrw6f728+XHz8CtdLqWNzfP5nihdMJ6odqR/y2QVrpgm/C1mWrzcRozpT+UfE2+dvzqqggDFSPpJT1BAsP5HqVpv5VWvLwP862kauoqRjH42kJ/JGvwxUc+6pEssU5ZUUW1zZvZOSurUoQB2tDmO1XbeXiLkOkfYavSkKMkNExN1GmX1llGRW0edKYnN9dqVlURqAJMGAKHFFpkmv1HSYk9M1APKujxR0RIl1LmL9j3rjYbX3GYyhGw0P9Gzklg5FmlG+ffkvIYGZyUh/Zk49/w49/iK8ROKiedYkL85CxGFipMIj+AyCsMEU058smTiiqSrqTdb96aJlUTQtI0RgyA2lPQJFVgSMeW3Fs3S5+8Rx6uQgVtqatzPCMt5wyM/D18P4oky7lVzL9dUvHEsVAkFZbFEBMXBKBIKJVCxfpSPWMREfkQoteK1G2X7Kifrq6Ov2wZ1LF0WdlIJah5JOe7cBQAA') format('woff2'),
  url('iconfont.woff?t=1604465826000') format('woff'),
  url('iconfont.ttf?t=1604465826000') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1604465826000#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: "\e504";
}

